@use '../../styles/mixin' as *;
@use '../../styles/breakpoints' as *;

.category {
    width: 100%;
    height: 100px;
    @include flex($wrap: wrap);
    background-color: rgb(39, 39, 39);
    @include text;
    color: white;
    text-align: center;
    cursor: pointer;

    @include md {
        width: calc(100% / 3);
    }

    @include lg {
        // width: calc(100% / 5);
    }
}