@use '../../styles/mixin' as *;
@use '../../styles/breakpoints' as *;

.category {
    width: calc(100% / 2.5);
    height: 100px;
    @include flex($wrap: wrap);
    background-color: black;
    @include text;
    color: white;
    text-align: center;

    @include md {
        width: calc(100% / 3);
    }

    @include lg {
        width: calc(100% / 5);
    }
}