@use '../../styles/mixin' as *;
@use '../../styles/breakpoints' as *;

.categories {
    width: 100%;
    @include flex($direction: column);
    gap: 15px 0;

    &__title {
        @include text;

        @include md {
            @include text($fontSize: 25px, $fontWeight: 700);
        }
    }

    &__category {
        @include flex($wrap: wrap);
        gap: 15px;
    }
}