@use '../../styles/mixin' as *;
@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;


.navbar {
    width: 100vw;
    padding: 18px;
    @include flex($justifyContent: space-between);
    gap: 20px;
    position: fixed;
    bottom: 0;
    background-color: $secondary;
    z-index: 999;

    @include md {
        justify-content: space-evenly;
        height: 7vh;
        top: 0;
    }

    &__links {
        @include text($fontSize: 12px);
        position: relative;

        @include md {
            @include text($fontSize: 18px);

            &::after {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0%;
                height: 1px;
                background-color: white;
                transition: all .3s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}