@use '../../styles/mixin' as *;
@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;


.navbar {
    width: 100vw;
    padding: 15px;
    @include flex;
    gap: 20px;
    position: fixed;
    bottom: 0;
    background-color: $secondary;
    z-index: 999;

    @include md {
        height: 6vh;
        top: 0;
    }

    &__links {
        @include text($fontSize: 12px);

        @include md {
            @include text($fontSize: 20px);
        }
    }
}