@use '../../styles/mixin' as *;
@use '../../styles/breakpoints' as *;

.movie {
    position: relative;
    width: 100%;
    height: 200px;

    @include md {
        height: 250px;
    }

    &__description {
        width: 100%;
        height: 22%;
        @include flex;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: .8);

        &__title {
            @include text($fontSize: 9px, $fontWeight: 700);
            text-align: center;

            @include md {
                @include text($fontSize: 11px, $fontWeight: 700);
            }
        }
    }
}