@use '../../styles/mixin' as *;
@use '../../styles/breakpoints' as *;

.movie {
    width: 150px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #fff;
    // padding: 10px;
    @include flex($direction: column, $justifyContent: flex-start, $alignItems: center);
    transition: transform .3s ease-in-out;
    cursor: pointer;

    @include md {
        width: 200px;
        height: 300px;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__image {
        position: relative;
        width: 100%;
        height: 170px;
        border-radius: 10px;

        @include md {
            height: 85%;
        }

        &:hover {
            background-color: rgba($color: #000000, $alpha: .8);
        }

        &__img {
            height: 100%;
            border-radius: 10px;
        }
    }

    &__title {
        @include flex($wrap: wrap);
        @include text($fontSize: 10px, $fontWeight: 700);
        text-align: center;
        margin-top: 10px;

        @include md {
            @include text($fontSize: 12px, $fontWeight: 700);
        }
    }
}

