@use '../../styles/mixin' as *;
@use '../../styles/breakpoints' as *;

.search {
    @include flex($direction: column);
    gap: 20px 0;

    &__text {
        @include text($fontSize: 20px);
    }

    &__input {
        width: 100%;
        padding: 10px;

        @include md {
            width: 75%;
        }
    }
}