@use './variables' as *;

@mixin flex($direction: row, $justifyContent: center, $alignItems:center, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $wrap;
}

@mixin position($position: absolute, $top, $left, $right, $bottom) {
    position: $position;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin text($color: $white, $fontSize: 18px, $transform: uppercase, $fontWeight: 400, $leter-spacing: 1.2px, $decoration: none) {
    font-size: $fontSize;
    color: $color;
    text-transform: $transform;
    font-weight: $fontWeight;
    letter-spacing: $leter-spacing;
    // text-align: center;
    text-decoration: $decoration;
}
