@use './variables' as *;
@use './breakpoints' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary;
}

.container {
  width: 95%;
  margin: 70px auto;

  @include lg {
    width: 75%;
  }

}
